body {
  margin: 0;
  background: #0c0c1b;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

#game-area {
  position: relative;
  width: 400px;
  height: 600px;
  background: #111;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid #555;
}

#player {
  position: absolute;
  font-size: 2em;
  bottom: 10px;
  left: 180px;
  width: 100px;
  height: 100px;
  text-align: center;
}


.enemy {
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
  top: -40px;
  border-radius: 5px;
}
